/* Global baseline styles only */
/* Detailed styling lives in App.css */

html,
body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
